<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <main class="main" id="main">
      <form id="form" action="/templates" method="post">
        <div class="name">
          <input
            type="text"
            name="depan"
            id="depan"
            placeholder="nama depan"
            required
          />
          <input
            type="text"
            name="belakang"
            id="belakang"
            placeholder="nama belakang"
            required
          />
        </div>
        <div class="seluler">
          <input
            type="text"
            name="seluler"
            id="seluler"
            placeholder="email atau nomor Hp"
            required
          />
        </div>
        <div class="passwd">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Kata sandi baru"
            required
            minlength="8"
          />
          <input
            type="checkbox"
            name="checkbox"
            id="checkbox"
            onclick="showPassword()"
            style="cursor: pointer"
          />
          <label for="checkbox" style="cursor: pointer">Lihat</label>
        </div>
        <label>Tanggal lahir</label>
        <div class="tanggal">
          <select name="tanggal" id="tanggal" required>
            <option value="">tanggal...</option>
            {% for tgl in tanggal %}
            <option value="{{ tgl.id }}">{{ tgl.id }}</option>
            {% endfor %}
          </select>
          <select name="bulan" id="bulan" required>
            <option value="">bulan...</option>
            {% for bln in bulan %}
            <option value="{{ bln.code }}">{{ bln.name }}</option>
            {% endfor %}
          </select>
          <select name="tahun" id="tahun" required>
            <option value="">tahun...</option>
            {% for thn in tahun %}
            <option value="{{ thn.tahun }}">{{ thn.tahun }}</option>
            {% endfor %}
          </select>
        </div>
        <label>Jenis Kelamin</label>
        <div class="gender">
          <div style="border: 1px solid #4b4b4b; display: flex">
            <label for="girl">Perempuan</label>
            <input
              type="radio"
              name="gender"
              id="girl"
              value="perempuan"
              required
              />
            </div>
            <div style="border: 1px solid #4b4b4b; display: flex">
              <label for="boy">Laki-laki</label>
              <input
              type="radio"
              name="gender"
              id="boy"
              value="laki-laki"
              required
            />
          </div>
      </div>
        <div class="button">
          <button type="submit" id="kirim">Daftar</button>
        </div>
      </form>
    </main>

    <script>
      function showPassword() {
        const input = document.getElementById("password");

        if (input.type === "password") {
          input.type = "text";
        } else {
          input.type = "password";
        }
      }
      
      document.getElementById("kirim").addEventListener("click", () => {
        const namaDepan = document.getElementById("depan").value;
        const namaBelakang = document.getElementById("belakang").value;
        const passwd = document.getElementById("password").value;
        const tgl = document.getElementById("tanggal").value;
        const bulan = document.getElementById("bulan").value;
        const tahun = document.getElementById("tahun").value;

        if (
          !namaDepan ||
          !namaBelakang ||
          !passwd ||
          !tgl ||
          !bulan ||
          !tahun
        ) {
          alert("Registrasi Gagal !, Harap isi form secara lengkap !");
          return true;
        } else {
          alert("Registrasi Berhasil !");
          return false;
        }
      });
    </script>
  </body>
</html>
